<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [10]:
pip install sqlalchemy==1.3.9

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (1.3.9)
Note: you may need to restart the kernel to use updated packages.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [13]:
pip install -q pandas==1.1.5

Note: you may need to restart the kernel to use updated packages.

In [14]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [15]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

**Note:This below code is added to remove blank rows from table**

In [16]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [18]:
df.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [19]:
set(df['Launch_Site'])

{'CCAFS LC-40', 'CCAFS SLC-40', 'KSC LC-39A', 'VAFB SLC-4E'}


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [20]:
df_CCA= df[df['Launch_Site'].str.contains('CCA')]

In [21]:
set(df_CCA['Launch_Site'])

{'CCAFS LC-40', 'CCAFS SLC-40'}

In [24]:
df_CCA.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               101 non-null    object
 1   Time (UTC)         101 non-null    object
 2   Booster_Version    101 non-null    object
 3   Launch_Site        101 non-null    object
 4   Payload            101 non-null    object
 5   PAYLOAD_MASS__KG_  101 non-null    int64
 6   Orbit              101 non-null    object
 7   Customer           101 non-null    object
 8   Mission_Outcome    101 non-null    object
 9   Landing_Outcome    101 non-null    object
dtypes: int64(1), object(9)
memory usage: 8.0+ KB

In [27]:
df_Mass=df[['PAYLOAD_MASS__KG_', 'Booster_Version']]
df_Mass

     PAYLOAD_MASS__KG_ Booster_Version
0                    0  F9 v1.0  B0003
1                    0  F9 v1.0  B0004
2                  525  F9 v1.0  B0005
3                  500  F9 v1.0  B0006
4                  677  F9 v1.0  B0007
..                 ...             ...
96                4311    F9 B5B1062.1
97               12500   F9 B5B1061.1
98                1192    F9 B5B1063.1
99               15600  F9 B5 B1049.7
100               2972  F9 B5 B1058.4

[101 rows x 2 columns]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [28]:
print(set(df_Mass['Booster_Version']))

{'F9 B4 B1040.1', 'F9 FT  B1029.2', 'F9 B4  B1040.2', 'F9 v1.1 B1017', 'F9 B4 B1045.2', 'F9 FT B1030', 'F9 v1.1  B1003', 'F9 FT  B1032.2', 'F9 B5  B1046.1', 'F9 B5 B1046.3', 'F9 B5 B1058.3 ', 'F9 FT B1026', 'F9 B4 B1039.1', 'F9 B5 B1049.2', 'F9 FT B1035.1', 'F9 B5 B1051.2 ', 'F9 v1.1 B1013', 'F9 B5 B1049.4', 'F9 B4  B1043.2', 'F9 B5 B1051.3', 'F9 FT  B1038.2', 'F9 B5B1048.1', 'F9 B5B1062.1', 'F9 B5 B1056.3 ', 'F9 B4 B1044', 'F9 v1.1', 'F9 FT B1038.1', 'F9 v1.1 B1011', 'F9 v1.1 B1014', 'F9 B5B1063.1', 'F9 FT  B1035.2', 'F9 B5 B1060.3', 'F9 B4  B1039.2', 'F9 FT B1025.1', 'F9 v1.0  B0005', 'F9 B5 B1056.4', 'F9 B5B1061.1 ', 'F9 B4 B1045.1', 'F9 B5 B1049.6', 'F9 B5 B1049.7 ', 'F9 v1.1 B1018', 'F9 B5 B1051.6', 'F9 FT  B1021.2', 'F9 B5 B1046.4', 'F9 v1.0  B0003', 'F9 B5 B1049.5', 'F9 B5B1060.1', 'F9 B5 B1049.3', 'F9 FT B1029.1', 'F9 B5 B1046.2', 'F9 B5B1058.1 ', 'F9 B4 B1041.1', 'F9 v1.1 B1010', 'F9 FT B1032.1', 'F9 v1.1 B1015', 'F9 v1.0  B0006', 'F9 v1.0  B0004', 'F9 B5B1050', 'F9 B5 B1058.2 ', 'F9 FT B1031.1', 'F9 B5 B1060.2 ', 'F9 B5B1054', 'F9 FT B1036.1', 'F9 B4  B1041.2', 'F9 FT B1021.1', 'F9 B5 B1048.2', 'F9 B5 B1047.3 ', 'F9 B5 B1059.4', 'F9 B5 B1051.4', 'F9 B5 B1048.3', 'F9 B5B1051.1', 'F9 FT  B1036.2', 'F9 B5 B1058.4 ', 'F9 FT B1023.1', 'F9 v1.0  B0007', 'F9 B5 B1059.3', 'F9 B5B1047.1', 'F9 v1.1 B1012', 'F9 B5 B1059.2', 'F9 FT B1037', 'F9 B5 B1048.5', 'F9 B5 B1051.5', 'F9 FT B1024', 'F9 FT B1020', 'F9 B4 B1043.1', 'F9 B5B1049.1', 'F9 B5 B1056.2 ', 'F9 B5B1059.1', 'F9 B4 B1042.1', 'F9 B5 B1048.4', 'F9 B5B1056.1 ', 'F9 FT B1034', 'F9 v1.1 B1016', 'F9 B5 B1047.2', 'F9 FT  B1031.2', 'F9 FT B1019', 'F9 FT B1022'}

In [32]:
df_F9=df_Mass[df_Mass['Booster_Version'].str.contains('F9 v1.1')]

In [33]:
df_F9['PAYLOAD_MASS__KG_'].mean()

2534.6666666666665

In [34]:
df_F9

    PAYLOAD_MASS__KG_ Booster_Version
5                 500  F9 v1.1  B1003
6                3170         F9 v1.1
7                3325         F9 v1.1
8                2296         F9 v1.1
9                1316         F9 v1.1
10               4535         F9 v1.1
11               4428   F9 v1.1 B1011
12               2216   F9 v1.1 B1010
13               2395   F9 v1.1 B1012
14                570   F9 v1.1 B1013
15               4159   F9 v1.1 B1014
16               1898   F9 v1.1 B1015
17               4707   F9 v1.1 B1016
18               1952   F9 v1.1 B1018
20                553   F9 v1.1 B1017

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [36]:
df_Date=df[['Date', 'Landing_Outcome']]

In [37]:
df_Date

           Date      Landing_Outcome
0    2010-06-04  Failure (parachute)
1    2010-12-08  Failure (parachute)
2    2012-05-22           No attempt
3    2012-10-08           No attempt
4    2013-03-01           No attempt
..          ...                  ...
96   2020-11-05              Success
97   2020-11-16              Success
98   2020-11-21              Success
99   2020-11-25              Success
100  2020-12-06              Success

[101 rows x 2 columns]

In [38]:
df_Date=df_Date[df_Date['Landing_Outcome']=='Success']

In [39]:
df_Date

           Date Landing_Outcome
57   2018-07-22         Success
58   2018-07-25         Success
59   2018-08-07         Success
60   2018-09-10         Success
61   2018-10-08         Success
62   2018-11-15         Success
63   2018-12-03         Success
66   2019-01-11         Success
67   2019-02-22         Success
68   2019-03-02         Success
69   2019-05-04         Success
70   2019-05-24         Success
71   2019-06-12         Success
72   2019-07-25         Success
74   2019-11-11         Success
75   2019-12-05         Success
76   2019-12-17         Success
77   2020-01-07         Success
79   2020-01-29         Success
81   2020-03-07         Success
83   2020-04-22         Success
84   2020-05-30         Success
85   2020-06-04         Success
86   2020-06-13         Success
87   2020-06-30         Success
88   2020-07-20         Success
89   2020-08-07         Success
90   2020-08-18         Success
91   2020-08-30         Success
92   2020-09-03         Success
93   2020-10-06         Success
94   2020-10-18         Success
95   2020-10-24         Success
96   2020-11-05         Success
97   2020-11-16         Success
98   2020-11-21         Success
99   2020-11-25         Success
100  2020-12-06         Success

In [40]:
df_Date.min()

Date               2018-07-22
Landing_Outcome       Success
dtype: object

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [41]:
set(df['Landing_Outcome'])

{'Controlled (ocean)',
 'Failure',
 'Failure (drone ship)',
 'Failure (parachute)',
 'No attempt',
 'No attempt ',
 'Precluded (drone ship)',
 'Success',
 'Success (drone ship)',
 'Success (ground pad)',
 'Uncontrolled (ocean)'}

In [42]:
df_booster = df[['Landing_Outcome', 'Booster_Version', 'PAYLOAD_MASS__KG_']]
df_booster

         Landing_Outcome Booster_Version  PAYLOAD_MASS__KG_
0    Failure (parachute)  F9 v1.0  B0003                  0
1    Failure (parachute)  F9 v1.0  B0004                  0
2             No attempt  F9 v1.0  B0005                525
3             No attempt  F9 v1.0  B0006                500
4             No attempt  F9 v1.0  B0007                677
..                   ...             ...                ...
96               Success    F9 B5B1062.1               4311
97               Success   F9 B5B1061.1               12500
98               Success    F9 B5B1063.1               1192
99               Success  F9 B5 B1049.7               15600
100              Success  F9 B5 B1058.4                2972

[101 rows x 3 columns]

In [43]:
df_boost= df.loc[(df['PAYLOAD_MASS__KG_'] > 4000) & (df['PAYLOAD_MASS__KG_'] < 6000) & (df['Landing_Outcome']=='Success (drone ship)')]

In [44]:
set(df_boost['Booster_Version'])

{'F9 FT  B1021.2', 'F9 FT  B1031.2', 'F9 FT B1022', 'F9 FT B1026'}

### Task 7




##### List the total number of successful and failure mission outcomes

In [45]:
set(df['Mission_Outcome'])

{'Failure (in flight)',
 'Success',
 'Success ',
 'Success (payload status unclear)'}

In [46]:
df['Mission_Outcome'].value_counts()

Success                             98
Success                              1
Success (payload status unclear)     1
Failure (in flight)                  1
Name: Mission_Outcome, dtype: int64

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [47]:
max_payloadmass= df['PAYLOAD_MASS__KG_'].max()

In [48]:
max_payloadmass

15600

In [49]:
df_boost_maxmass=df[df['PAYLOAD_MASS__KG_']==max_payloadmass]

In [50]:
print(set(df_boost_maxmass['Booster_Version']))

{'F9 B5 B1051.3', 'F9 B5 B1058.3 ', 'F9 B5 B1051.4', 'F9 B5 B1051.6', 'F9 B5 B1049.7 ', 'F9 B5 B1048.4', 'F9 B5 B1060.3', 'F9 B5 B1049.4', 'F9 B5 B1060.2 ', 'F9 B5 B1049.5', 'F9 B5 B1056.4', 'F9 B5 B1048.5'}

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [51]:
import datetime

In [52]:
df_9=df[['Date', 'Landing_Outcome', 'Booster_Version', 'Launch_Site']]

In [53]:
df_9

           Date      Landing_Outcome Booster_Version   Launch_Site
0    2010-06-04  Failure (parachute)  F9 v1.0  B0003   CCAFS LC-40
1    2010-12-08  Failure (parachute)  F9 v1.0  B0004   CCAFS LC-40
2    2012-05-22           No attempt  F9 v1.0  B0005   CCAFS LC-40
3    2012-10-08           No attempt  F9 v1.0  B0006   CCAFS LC-40
4    2013-03-01           No attempt  F9 v1.0  B0007   CCAFS LC-40
..          ...                  ...             ...           ...
96   2020-11-05              Success    F9 B5B1062.1  CCAFS SLC-40
97   2020-11-16              Success   F9 B5B1061.1     KSC LC-39A
98   2020-11-21              Success    F9 B5B1063.1   VAFB SLC-4E
99   2020-11-25              Success  F9 B5 B1049.7   CCAFS SLC-40
100  2020-12-06              Success  F9 B5 B1058.4     KSC LC-39A

[101 rows x 4 columns]

In [56]:
df_9['Date'] = pd.to_datetime(df_9['Date'], format='%Y-%m-%d')

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [60]:
df_2015=df_9[df_9['Date'].dt.strftime('%Y')=='2015']
df_2015

         Date         Landing_Outcome Booster_Version  Launch_Site
13 2015-01-10    Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
14 2015-02-11      Controlled (ocean)   F9 v1.1 B1013  CCAFS LC-40
15 2015-03-02              No attempt   F9 v1.1 B1014  CCAFS LC-40
16 2015-04-14    Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40
17 2015-04-27              No attempt   F9 v1.1 B1016  CCAFS LC-40
18 2015-06-28  Precluded (drone ship)   F9 v1.1 B1018  CCAFS LC-40
19 2015-12-22    Success (ground pad)     F9 FT B1019  CCAFS LC-40

In [62]:
df_month_name=df_2015[df_2015['Landing_Outcome']=='Failure (drone ship)']
df_month_name

         Date       Landing_Outcome Booster_Version  Launch_Site
13 2015-01-10  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
16 2015-04-14  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [66]:
df_success_outcome= df.loc[(df['Date'] > '2010-06-04') & (df['Date'] < '2017-03-20') & df['Landing_Outcome'].str.contains('Success')]

In [67]:
df_success_outcome['Landing_Outcome'].count()

8

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>